RFC7084 compliant DHCPv6 behavior

Hey there,

I haven't configured DHCPv6 yet, however I stumpled across the following section in your FAQ:

`The BNG Blaster expects an ICMPv6 router-advertisement with other-config flag before it starts sending DHCPv6 within a PPPoE session.`

Personally I think that the RFC4861 is a little bit misleading here, because it wasn't written with DHCPv6 in mind, so it's unclear if DHCPv6-PD should be started by receiving the O-flag or the M-flag.

However RFC7084 states in WPD-4 the following:
```
WPD-4:  By default, the IPv6 CE router MUST initiate DHCPv6 prefix
           delegation when either the M or O flags are set to 1 in a
           received Router Advertisement (RA) message.  Behavior of the
           CE router to use DHCPv6 prefix delegation when the CE router
           has not received any RA or received an RA with the M and the
           O bits set to zero is out of scope for this document.
```

So from my understanding DHCPv6-PD should also be instantiated when receiving the M-flag. Or is there a good reason not to do? :)

Fun Fact:
The obsoleted RFC6204 WPD-4 stated that DHCPv6-PD should always be initiated regardless if it receives a Router Advertisment with an O- or M-flag. So as soon as a CPE supports IPv6 it should request a prefix using DHCPv6 from the service provider. As far as a I rember is this still the default behavior of a Fritz!Box.

Most relevant for this use case is TR-177 but I will do some investigation here.
https://www.broadband-forum.org/download/TR-177.pdf

https://datatracker.ietf.org/doc/html/rfc4861#section-4.2 also says that either should be accepted: 

```"If the M flag is set, the O flag is redundant and can be ignored because DHCPv6 will return all  available configuration information."```

Or as said a slightly different way at https://blog.ipspace.net/2012/11/ipv6-router-advertisements-deep-dive.html

```"The O flag is meaningless if the M flag is set, as the O flag is basically a subset of the M flag (broken OS stack might require both though)".```

FWIW, TR-177 just seems to talk about the O-flag:

_"The BNG generates (according to RFC 4861 [12]) an IPv6 MC RA message to the FF02::1 “All link-local nodes” MC group.  The BNG includes the /64 prefix of the access line in the Prefix Information Option (PIO) of the RA and sets the ‘A’-flag of this PIO to ‘True’ in order to advise the RG or host to use the included PIO for the SLAAC of its WAN GUA. Besides that the ‘Is-router’ flag and the O-flags inside the RA are also set to ‘True’ in order to signal that the BNG is the Default Router and that more information can be provided by DHCPv6. This RA message is encapsulated in a newly created IPv6 datagram with the Line Identification Option (LIO) and is sent to the AN, according to RFC 6788 [25]"_

Fixed in latest `dev` branch. 

Fixed in 0.7.9!