DHCP failing to Nokia BNG: bngblaster sends DHCPDISCOVER to siaddr rather than broadcast address

**DHCP failing to Nokia BNG: bngblaster sends DHCPDISCOVER to siaddr rather than broadcast address**

We are testing bngblaster version 0.70 with IPoE sessions to a Nokia 7750 BNG (although the same behaviour/issue was also present using bngblaster version 0.6.6).

The BNG accepts the DHCP discover and replies with an offer which from the debugs, is received and processed by the BNG. The BNG however does not send a DHCPACK to bngblaster. The DHCPREQUESTs are retried by bngblaster:
```
# ./bngblaster -v
GIT:
  REF: main
  SHA: 2ba5a782d72b04f554a64c32cc4cc83c734e00e2
IO Modes: packet_mmap_raw (default), packet_mmap, raw

Apr 06 18:10:25.943151 Resolve network interfaces
Apr 06 18:10:25.943282 All network interfaces resolved
Apr 06 18:10:25.943320 DHCP (ID: 1) Start DHCP
Apr 06 18:10:25.948432 DHCP (ID: 1) DHCP-Discover send
Apr 06 18:10:26.032631 DHCP (ID: 1) DHCP-Offer received
Apr 06 18:10:26.035857 DHCP (ID: 1) DHCP-Request send
Apr 06 18:10:31.037336 DHCP (ID: 1) DHCP-Request send
Apr 06 18:10:36.041096 DHCP (ID: 1) DHCP-Request send
Apr 06 18:10:41.044076 DHCP (ID: 1) DHCP-Request send
Apr 06 18:10:46.048311 DHCP (ID: 1) DHCP-Request send
Apr 06 18:10:51.049583 DHCP (ID: 1) DHCP-Request send
Apr 06 18:10:56.050670 DHCP (ID: 1) DHCP-Request send
Apr 06 18:11:01.051205 DHCP (ID: 1) DHCP-Request send
Apr 06 18:11:06.056436 DHCP (ID: 1) DHCP-Request send
Apr 06 18:11:11.060699 DHCP (ID: 1) DHCP-Request send
Apr 06 18:11:16.060872 DHCP (ID: 1) Stop DHCP
Apr 06 18:11:16.060967 DHCP (ID: 1) Start DHCP
Apr 06 18:11:16.064548 DHCP (ID: 1) DHCP-Discover send
Apr 06 18:11:16.069751 DHCP (ID: 1) DHCP-Offer received
Apr 06 18:11:16.069832 DHCP (ID: 1) DHCP-Request send
Apr 06 18:11:21.074295 DHCP (ID: 1) DHCP-Request send
```
From a packet capture, the DHCP request is being sent by bngblaster to the siaddr in the received DHCPOFFER (the address 172.31.19.1 in the example below):
```
# tshark -T fields  -e ip.src -e ip.dst  -e _ws.col.Info  -e dhcp.option.dhcp_server_id -e dhcp.ip.server -E header=y -r bngblaster-0.70.pcap dhcp

ip.src  ip.dst  _ws.col.Info    dhcp.option.dhcp_server_id      dhcp.ip.server
0.0.0.0 255.255.255.255 DHCP Discover - Transaction ID 0xe4ffd06c               0.0.0.0
100.64.0.1      100.64.34.35    DHCP Offer    - Transaction ID 0xe4ffd06c       172.31.19.1     172.31.19.1
0.0.0.0 172.31.19.1     DHCP Request  - Transaction ID 0xe4ffd06c       172.31.19.1     0.0.0.0
0.0.0.0 172.31.19.1     DHCP Request  - Transaction ID 0xe4ffd06c       172.31.19.1     0.0.0.0
0.0.0.0 172.31.19.1     DHCP Request  - Transaction ID 0xe4ffd06c       172.31.19.1     0.0.0.0
0.0.0.0 172.31.19.1     DHCP Request  - Transaction ID 0xe4ffd06c       172.31.19.1     0.0.0.0
```
[RFC 2131 section 3.1](https://datatracker.ietf.org/doc/html/rfc2131#section-3.1) says

> the DHCPREQUEST message MUST use the same value in the DHCP message header's 'secs' field **and be sent to the same IP broadcast address as the original DHCPDISCOVER message**.

[RFC 2131 Section 2](https://datatracker.ietf.org/doc/html/rfc2131#section-2) defines the intrepretation of the siaddr as:
>   the  address of the server to use in the next step of the client's bootstrap process.  A DHCP server may return its own address in the  'siaddr' field, if the server is prepared to supply the next   bootstrap service (e.g., delivery of an operating system executable  image).  A DHCP server always returns its own address in the 'server  identifier' option.

The above seems to imply that the behaviour should be to send the request to the broadcast address and not to the siaddr.

If the source code is changed to send the DHCP Request to the broadcast address, the DHCP transaction is successful and the session is established.

Diff:
```
$ git diff
diff --git a/code/bngblaster/src/bbl_tx.c b/code/bngblaster/src/bbl_tx.c
index b2b7ea2..c7bdd50 100644
--- a/code/bngblaster/src/bbl_tx.c
+++ b/code/bngblaster/src/bbl_tx.c
@@ -1367,6 +1367,8 @@ bbl_encode_packet_dhcp(bbl_session_s *session) {
             dhcp.type = DHCP_MESSAGE_REQUEST;
             session->stats.dhcp_tx_request++;
             LOG(DHCP, "DHCP (ID: %u) DHCP-Request send\n", session->session_id);
+           eth.dst = (uint8_t*)broadcast_mac;
+            ipv4.dst = IPV4_BROADCAST;
             dhcp.option_address = true;
             dhcp.address = session->dhcp_address;
             dhcp.option_server_identifier = true;
```
Logs:
```      
Apr 06 17:48:53.339912 Resolve network interfaces
Apr 06 17:48:53.340028 All network interfaces resolved
Apr 06 17:48:53.340059 DHCP (ID: 1) Start DHCP
Apr 06 17:48:53.341119 DHCP (ID: 1) DHCP-Discover send
Apr 06 17:48:53.428681 DHCP (ID: 1) DHCP-Offer received
Apr 06 17:48:53.433917 DHCP (ID: 1) DHCP-Request send
Apr 06 17:48:53.439157 DHCP (ID: 1) DHCP-ACK received
Apr 06 17:48:53.449498 ALL SESSIONS ESTABLISHED
```
Packet trace
```
# tshark -T fields  -e ip.src -e ip.dst  -e _ws.col.Info  -e dhcp.option.dhcp -e dhcp.option.dhcp_server_id -e dhcp.ip.server -E header=y -r ./bngblaster-0.70-broadcast.pcap dhcp
ip.src  ip.dst  _ws.col.Info    dhcp.option.dhcp        dhcp.option.dhcp_server_id      dhcp.ip.server
0.0.0.0 255.255.255.255 DHCP Discover - Transaction ID 0x31725964       1               0.0.0.0
100.64.0.1      100.64.36.129   DHCP Offer    - Transaction ID 0x31725964       2       172.31.19.1     172.31.19.1
0.0.0.0 255.255.255.255 DHCP Request  - Transaction ID 0x31725964       3       172.31.19.1     0.0.0.0
100.64.0.1      100.64.36.129   DHCP ACK      - Transaction ID 0x31725964       5       172.31.19.1     172.31.19.1
```
json:
```
{
    "interfaces": {
        "qdisc-bypass": true,
        "io-mode": "packet_mmap_raw",
         "network": {
         "interface": "ens160.2016",
         "address": "172.31.19.5",
         "gateway": "172.31.19.4"
        },
        "access": [
        {
            "interface": "ens224f1",
            "type": "ipoe",
            "qinq": "false",
            "outer-vlan-min": 2016,
            "outer-vlan-max": 2048,
            "inner-vlan-min": 2,
            "inner-vlan-max": 4094,
            "ipv4": true,
            "ipv6": false,
            "vlan-mode": "1:1"
        }
     ]
    },
    "sessions": {
        "count": 1,
        "session-time": 0,
        "max-outstanding": 16000,
        "start-rate": 1000,
        "stop-rate": 1000
    },
    "ipoe-line": {
            "ipv4": true,
            "arp-timeout": 5,
            "arp-interval": 300,
            "ipv6": false
    },
    "access-line": {
        "agent-remote-id": "ABCDEFGHIJKLMNOP",
        "agent-circuit-id": "0.0.0.0/0.0.0.0 eth 0:{session-global}"
    },
    "dhcp": {
        "enable": true
    },
    "dhcpv6": {
        "enable": true,
        "_enable": false,
        "rapid-commit": true
    },
   "session-traffic": {
        "ipv4-pps": 1,
        "ipv6-pps": 1,
        "ipv6pd-pps": 1
    }
}

Not a bug.
Issue resoved by setting broadcast flag to true in config:
```
    "dhcp": {
        "broadcast": true,
        "enable": true
    },
```
  


Thanks for your feedback which is valuable input for the documentation!
https://rtbrick.github.io/bngblaster/