Improving SR support 

We need to rewrite segment_id logic, currently only single prefix sid supported for IP extended prefix TLV. For e.g I need also Algo 1 for Strict-SPF and some Flex-Algos 128+.

Additionally we need implementation for ASLA (RFC RFC8919/RFC8920) and FAPM (RFC9350) TLVs for full Flex-Algo support. He it gets tricky on how many options should be available for different metric types.

Optionally / Just to be able to simulate more TLVs in this context I would suggest:
- MSD (RFC8491) support
- E-Flag support on Prefix-Attribute-Flags (RFC9088)

My focus lies on IS-IS. Would love to work on this soon. 

